# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.log

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Archivos de base de datos
*.sqlite3
*.db

# Archivos de medios (subidos por usuarios)
media/

# Archivos estáticos compilados
staticfiles/

# Directorios de entorno virtual
env/
venv/

# VSCode
.vscode/

# Archivos específicos del sistema
.DS_Store
Thumbs.db

# OpenAI API keys (para seguridad)
*api_key*
